body {
    margin: 0;
    padding: 0;
  
}
/* topnavbar */
.nav {
  height: 50px;
  width: 100vw;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;

    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
  /* starts hero section */
  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
    z-index: -1;
}
.hero-content {
    position: relative;
    z-index: -1;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
}

.container {
	width: 1170px;
	margin: 0px auto;
}
.width-100 {
	width: 100%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
.width-50 {
	float: left;
	width: 50%;
}
.width-75 {
	width: 75%;
	float: left;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-25 {
	width: 25%;
	float: left;
}

/*****SKILL SECTION SKILL SECTION SKILL SECTION*****/
.catgry{
  text-align: center;
 
}
.skill-section {
	background-color: #00000008;
	padding-top: 40px;
	padding-bottom: 40px;
}
.skill-list {
	background-color: white;
	width: 23%;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
	border-radius: 5px;
	padding-left: 8px;
	padding-bottom: 10px;
}
.skill-list img {
	width: 70px;
	height: 70px;
	border-radius: 100px;
}
.skill-list h4 {
	font-size: 16px;
	color: #313538;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 8px
}
.view-button {
	width: 45%;
	height: 20px;
	border-radius: 20px;
	border: none;
	background-color: #e34216;
	color: white;
	font-size: 11px;
	padding-left: 5px;
	margin-top: 15px;
}
/*****RECENT JOB SECTION RECENT JOB SECTION*****/
.myjobs{
  width: 100vw;
}

.recent-job {
	padding-top: 50px;
	background-color: #f0f3fa;
	padding-bottom: 60px;
}

.recent-job-heading {
	text-align: center;
	color: #343a40;
}

.recent-job-sub-heading {
	text-align: center;
	margin-bottom: 30px;
}

.recent-job-list {
  float: left;	
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
 
}

.job-title {
	font-size: 20px;
}

.job-company {
	margin-top: 10px;
	margin-bottom: 20px;
}

.job-company i {
	color: orange;
	margin-left: 10px;
}

.job-skill {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.job-apply-button {
	background: blue;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: right;
}
/*****SKILL SECTION SKILL SECTION SKILL SECTION*****/
.skill-section {
	background-color: #00000008;
	padding-top: 40px;
	padding-bottom: 40px;
}
.skill-list {
	background-color: white;
	width: 23%;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
	border-radius: 5px;
	padding-left: 8px;
	padding-bottom: 10px;
}
.skill-list img {
	width: 70px;
	height: 70px;
	border-radius: 100px;
}
.skill-list h4 {
	font-size: 16px;
	color: #313538;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 8px
}
.view-button {
	width: 45%;
	height: 20px;
	border-radius: 20px;
	border: none;
	background-color: #e34216;
	color: white;
	font-size: 11px;
	padding-left: 5px;
	margin-top: 15px;
}

/*****TOP COMPANY SECTION*****/
.top-company {
	padding-top: 50px;
	background-color: #f9f9f9;
	padding-bottom: 60px;
}

.top-company-heading {
	text-align: center;
	color: #343a40;
}

.top-company-sub-heading {
	text-align: center;
	margin-bottom: 30px;
}

.company-list {
	float: left;
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid #e9e9e9;
}

.company-image img {
	width: 100%;
	height: auto;
}

.company-name {
	color: #343a40;
	font-size: 16px;
}

.company-rating i {
	padding-left: 1px;
	color: #f4dc1f;
}

.company-address {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #686868;
}

.company-opening {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #686868;
}

/******FOOTER SECTION******/
.footer-list {
	list-style: none;
	line-height: 35px;
	padding-top: 20px;
}

.footer-background {
	background-color: #222328;
	padding-top: 60px;
	padding-bottom: 80px;
	color: rgba(255, 255, 255, .86);
}

.get-in-touch {
	list-style: none;
	line-height: 15px;
	padding-top: 20px
}

.get-in-touch img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 0px;
	float: left;
	padding-top: 20px
}

.get-in-touch i {
	float: left;
	color: #eb372a;
	font-size: 16px;
	line-height: 15px;
}

.get-in-touch p {
	padding-left: 30px;
	color: rgba(255, 255, 255, .86);
	margin-top: 20px
}

/******FOOTER SECTION******/
